* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
    
footer p{
    font-size: 18px;
}

   body {
            scroll-behavior: smooth;
        }

        .hero {
            min-height: 90vh;
            display: flex;
            align-items: center;
            background-image: url(/imgs/backgroud-fullsize.png);
        }

        .hero h1 {
            font-weight: 800;
        }

        .card-hover {
            transition: .3s;
        }

        .card-hover:hover {
            transform: translateY(-10px);
        }

        .section {
            padding: 80px 0;
        }

        .icon-box {
            font-size: 40px;
            color: orange;
        }
